body {
    background-color: rgb(71, 83, 255);
}

.score {
    text-align: center;
    padding: 30px;
}

.view {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 450px;
    font-size: 0px;
}

.box {
    display: inline-block;
    /* border: 2px solid grey; */
    width: 30px;
    height: 30px;
    /* margin-left: -2px;
    margin-bottom: -2px; */
}

.red {
    background-color: rgb(235, 72, 32);
}

.blue {
    background-color: aquamarine;
}

.green {
    background-color: rgb(80, 156, 80);
}
