.view {
    padding: 20px;
}

.grid {
    width: 255px;
    font-size: 0px;
}

.box {
    display: inline-block;
    border: 2px solid grey;
    width: 15px;
    height: 15px;
    margin-left: -2px;
    margin-bottom: -2px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
